<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dev.mini.minibox.mappers.TheaterMapper">
    <insert id="insertTheater"
            useGeneratedKeys="true"
            keyProperty="name"
            keyColumn="name"
            parameterType="dev.mini.minibox.entities.TheaterEntity">
        INSERT INTO `mega`.`theaters` (`area_code`, `name`, `brch_no`)
        VALUES (#{areaCode}, #{name}, #{brchNo})
    </insert>
    <select id="selectTheaters" resultType="dev.mini.minibox.entities.TheaterEntity">
        SELECT `area_code` AS `areaCode`,
               `name` AS `name`,
               `brch_no` AS `brchNo`
        FROM `mega`.`theaters`
        LIMIT 1
    </select>
    <select id="selectByBrchNo" resultType="dev.mini.minibox.entities.TheaterEntity">
        SELECT *
        FROM `mega`.`theaters`
        WHERE `brch_no` = #{brchNo}
    </select>
</mapper>